<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property><!--SPECIFY IP AND PORT FOR POSTGRES HERE, THE REST IS THE SAME<-->
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">pwd</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</property>

        <!-- Print executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and recreate or update on startup? -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!--c3p0 config-->
        <property name="hibernate.c3p0.min_size">5</property>
        <property name="hibernate.c3p0.max_size">20</property>
        <property name="hibernate.c3p0.timeout">300</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">3000</property>

        <!-- Annotated entity classes -->
        <mapping class="com.andreasogeirik.model.entities.Event"/>

        <mapping class="com.andreasogeirik.model.entities.User"/>
        <mapping class="com.andreasogeirik.model.entities.UserRole"/>
        <mapping class="com.andreasogeirik.model.entities.Friendship"/>

        <mapping class="com.andreasogeirik.model.entities.Post"/>
        <mapping class="com.andreasogeirik.model.entities.PostLike"/>
        <mapping class="com.andreasogeirik.model.entities.Comment"/>
        <mapping class="com.andreasogeirik.model.entities.CommentLike"/>

        <mapping class="com.andreasogeirik.model.entities.LogElement"/>

        <mapping class="com.andreasogeirik.model.entities.Misc"/>



    </session-factory>
</hibernate-configuration>